.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 530px;
    min-width: 320px;
    margin: 0 auto;
    padding: 60px 15px 50px 15px;
}

.title {
    margin-bottom: 10px;
    font-size: 80px;
    font-weight: 100;
    color: #e9d9d8;
}

@media screen and (min-width: 430px) {
    .wrapper {
        padding-top: 100px;
    }
}