@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  min-width: 320px;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
  font-family: "Roboto", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0 50px 0;
}

.title {
  font-size: 70px;
  font-weight: 100;
  color: #e9d9d8;
}

.todos {
  position: relative;
  width: 500px;
  background-color: #fff;
  box-shadow: 0 2px 4px 1px rgba(68,68,68,0.4);
  z-index: 500;
}

/* .todos::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 98%;
  height: 5px;
  background-color: #F6F6F6;
}

.todos::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 96%;
  height: 5px;
  background-color: #F6F6F6;
} */

.todos__form {
  display: flex;
  align-items: center;
}

.todos__input-icon {
  position: relative;
  margin-left: 20px;
  height: 35px;
  width: 35px;
}

.todos__input-icon::before,
.todos__input-icon::after {
  position: absolute;
  content: "";
  top: 50%;
  width: 12px;
  height: 4px;
  background-color: #e6e6e6;
}

.todos__input-icon::before {
  left: 0;
  transform: translateY(-50%) rotate(40deg);
}

.todos__input-icon::after {
  left: 7px;
  transform: translateY(-50%) rotate(-40deg);
}

.todos__input {
  display: block;
  width: 100%;
  padding: 20px 15px 20px 10px;
  font-size: 24px;
  color: #9e9e9e;
  background-color: #fefefe;
  border: none;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
}

.todos__input:focus {
  outline: none;
}

.todos__input::placeholder {
  color: #e6e6e6;
  font-style: italic;
}

.todos__input-button {
  padding: 10px 20px;
  margin-right: 20px;
  border: none;
  border-radius: 10px;
  background-color: #e9d9d8;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #4d4d4d;
  cursor: pointer;
}

.todos__tasks-list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 24px;
  font-weight: 300;
  color: #4d4d4d;
  box-shadow: 0 -2px 4px -1px rgba(179,179,179,0.62);
  z-index: 500;
}

.todos__task {
  padding: 15px;
}

.todos__task:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}

.todos__task-label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.todos__task-label:hover .todos__task-check {
  cursor: pointer;
  border: 1px solid #9e9e9e;
}

.todos__task-input {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
}

.todos__task-check {
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  margin-right: 15px;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
}

/* Checked */
.todos__task-check:has(+ .todos__task-input:checked) {
  border: 1px solid #9e9e9e;
  background-image: url('./assets/check.svg');
  background-position: center;
}

.todos__task-text {
  word-break: break-all;
  cursor: pointer;
}

.todos__task-text_checked {
  /*text-decoration-line: overline;*/
  color: #d9d9d9;
}

.todos__no-filtered {
  padding: 20px;
  text-align: center;
  font-size: 20px;
  color: #9e9e9e;
}

.todos__tasks-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  font-size: 13px;
  font-weight: 300;
  border-top: 1px solid #e7e7e7;
  color: #9e9e9e;
}

.todos__tasks-button {
  padding: 6px;
  border: none;
  border-radius: 3px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  background-color: transparent;
  color: #9e9e9e;
}

.todos__tasks-button:hover {
  color: #4d4d4d;
  cursor: pointer;
}

.todos__tasks-button:not(:last-child) {
  margin-right: 5px;
}

.todos__tasks-button_active {
  border: 1px solid #e9d9d8;
}

.todos__tasks-clear {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  border: none;
  background-color: transparent;
  color: #9e9e9e;
}

.todos__tasks-clear:hover {
  cursor: pointer;
  color: #4d4d4d;
  text-decoration: underline;
}

.todos__no-tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-size: 24px;
  font-weight: 300;
  color: #4d4d4d;
  background-color: #e9d9d8;
}

.todos__no-tasks-icon {
  margin-bottom: 20px;
  width: 120px;
  height: 120px;
  background-image: url('./assets/notebook.svg');
  background-size: contain;
}

.todos__no-tasks-text {
  text-align: center;
}

